.wrapper {
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.toast-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 5%;
  right: 1%;
  z-index: 999999;
}
